<!DOCTYPE html>
<html>
  <head>
    <title>Edit an internship opportunity</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/createInternship.css" />
    <link rel="stylesheet" href="/css/changeFields.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="/images/icons/icon.png">
  </head>
  <body>
    <form class="rectangle-parent14" method="post" action="/userpage/editInformation?internship=<%= id %>" enctype="multipart/form-data">
      <input type="hidden" value="<%= id %>" name="id">
      <main class="frame-main">
        <div class="subtract-parent">
            <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                <a href="/userpage">
                    <img class="subtract-icon16" loading="lazy" alt="" src='/images/internshipCreator/goBack.svg'/>
                </a>
    
              <div class="edit-page">Edit Internship</div>
            </div>
        </div>
        <section class="internship-description-parent">
          <div class="frame-wrapper11">
            <div class="archireef-role-1-parent">
              <label for="nameOfInternship" class="internship-description">Role of internship:</label>
              <input value="<%= internshipInfo.nameOfInternship%>" class = "frame-child54" type="text" placeholder="e.g. Quality Assurace Tester" name="nameOfInternship" id="nameOfInternship" style="height: 2rem; padding-left: 0%; border-left: 0; border-top: 0; border-right: 0; border-radius: 0; box-shadow: none;" required>
              <div class="frame-wrapper12">
                <div for="input-file" class="cover-photo-parent" style="width:auto" id="drop-area">
                    <label for="input-file" id="drop-area">
                        <div style="display: flex; position: relative" class="internship-description">Cover Photo</div>
                        <div style="display: flex; position: relative; font-size: 60%;">Drag and drop or click on the icon to choose an image</div>
                        <input type="file" id="input-file" accept="image/png, image/jpeg" size="100000" name="coverPic" hidden>
                        <div style="position: relative;">
                            <img src="data:image/jpeg;base64, <%= image.toString('base64') %>"
                            id="img-view" class="rectangle-parent15" style="padding: 0; border: none;">
                            <img src="/images/internshipCreator/changePic.svg" class="changePic">
                        </div>
                    </label>
                </div>

              </div>
              <div class="frame-wrapper13">
                <div class="internship-description">Internship Description</div>
                <textarea name='about' class="frame-child54" required="{true}" placeholder="e.g. As a software engineer, you must..."><%=internshipInfo.description%></textarea>
              </div>

              <div style="width: 100%; margin-top: 5%; margin-bottom: 5%;">
                <div class="internship-requirements" style="margin-bottom: 1%;">Corresponding District</div>
                    <select name="district" class="frame-child54 districtSelector" required>
                        <!-- <option value="none" selected disabled hidden>Select the district you are located in</option> -->
                        <% const selectedDistrict = internshipInfo.addressForWork; %>
                        <% const districts = [
                        "Islands(離島區)",
                        "Kwai Tsing(葵青區)",
                        "North(北區)",
                        "Sai Kung(西貢區)",
                        "Sha Tin(沙田區)",
                        "Tai Po(大埔區)",
                        "Tsuen Wan(荃灣區)",
                        "Tuen Mun(屯門區)",
                        "Kowloon City(九龍城區)",
                        "Kwun Tong(觀塘區)",
                        "Sham Shui Po(深水埗區)",
                        "Wong Tai Sin(黃大仙區)",
                        "Central and Western District(中西區)",
                        "Eastern District(東區)",
                        "Southern District(南區)",
                        "Wan Chai(灣仔區)"
                        ]; %>
                        <% districts.forEach(district => { %>
                        <option value="<%= district %>" <%= selectedDistrict === district ? "selected" : "" %>><%= district %></option>
                        <% }); %>
                    </select>
              </div>

              <div style="display: flex; flex-direction: column; width: 100%" id="skillHolder">
    
                <div class="internship-requirements">Internship requirements</div>
                <% internshipInfo.skillsRequired.forEach((skill,index)=>{%>
                  <%if(index >= 1){%>
                    <div class="questionContainer">
                      <input
                      class="eg-proficient-in"
                      placeholder="e.g. Proficient in English"
                      type="text"
                      name="skill"
                      value="<%= skill %>"
                      />
                      <button type="button" id="deleteButtonManual">
                        <img src="/images/internshipCreator/trashCan.svg">
                      </button>
                    </div>
                  <%} else {%>
                    <input
                    class="eg-proficient-in"
                    placeholder="e.g. Proficient in English"
                    type="text"
                    style="margin-bottom: 5%;"
                    name="skill"
                    required
                    value="<%= skill %>"
                  />
                  <%}%>
                <%})%>
              </div>
              <button onclick="addOneExtra(event)" id="skillQuestions" class="subtract-icon15" style="width: fit-content; height: fit-content; border: 0; background: none; cursor: pointer;" type="button">
                <img class="subtract-icon15" alt="" src='/images/internshipCreator/Subtract.svg' id="skillQuestions"/>
              </button>

              <section class="frame-parent25">
                <div style="color: #0154b8;" class="internship-requirements">Choose your interested fields:</div>
                <div class="architecture-comp-parent">
                  <div class="frame-parent26">
                    <div class="rectangle-parent22">
                      <% const choosablefields = [
                          "Architecture",
                          "Art",
                          "Computer Science",
                          "Biology",
                          "Music",
                          "Finance",
                          "Software Engineering",
                          "Design",
                          "Hospitality",
                          "Medicine",
                          "Journalism",
                          "Electrical Engineering",
                          "Law",
                          "Film",
                          "Research",
                          "Hardware Engineering",
                          "Retail",
                          "Information Technology",
                          "Media",
                          "Construction",
                          "Cybersecurity",
                          "Counselling",
                          "Education",
                          "Consultation"
                      ]; %>
                      <% choosablefields.forEach((choosablefield,index)=>{%>
                          <% if(internshipInfo.typeOfInternship.includes(choosablefield)){%>
                              <button class="frame-child67 checked" onclick="toggleCheckbox(event)" name="<%= choosablefield%> checked" type="button" value="<%= choosablefield%>*" style = "background-color: #a9c5e7; color: #477dc0;"><%= choosablefield %></button>
                          <%} else {%>
                              <button class="frame-child67" onclick="toggleCheckbox(event)" name="<%= choosablefield%>" type="button" style = "background-color: #a9c5e7; color: #477dc0;"><%= choosablefield %></button>
                          <%}%>
                      <%})%>
                      <input type='hidden' value="<%= internshipInfo.typeOfInternship %>" name="checked" id="checkedContainer">
                    </div>
                  </div>
              </section>

                <% if(internshipInfo.internshipTypeForWorking === "flexible"){%>
                    <div style="width: 100%; margin-top: 5%; margin-bottom: 5%;">
                        <div style="width: 100%; margin-bottom: 2%;" class="internship-requirements">Internship period:</div>
                        <label style="font-size: 50%;">Start date: </label><input type="date" name="dateStart" id="dateStart" required="true" min="<%= new Date().toISOString().split('T')[0] %>" onkeydown="return false" disabled><br>
                        <label style="font-size: 50%;">End date: </label><input type="date" name="dateEnd" id="dateEnd" required="true" min="<%= minDate %>" onkeydown="return false" disabled><br><br>
        
                        <label style="font-size: 50%;">Shift starting time: </label><input type="time" name="shiftStart" required="true" id="shiftStart" disabled><br>
                        <label style="font-size: 50%;">Shift ending time: </label><input type="time" name="shiftEnd" required="true" id="shiftEnd" disabled><br>
        
                        <label class="checkboxContainer"><input type="checkbox" name="flexibleCheck" id="flexibleCheck" class="flexibleCheck" checked><span class="checkmark"></span>  Internship period details are negotiable</label>
                      </div>
                <%} else {%>
                    <div style="width: 100%; margin-top: 5%; margin-bottom: 5%;">
                        <div style="width: 100%; margin-bottom: 2%;" class="internship-requirements">Internship period:</div>
                        <label style="font-size: 50%;">Start date: </label><input type="date" name="dateStart" id="dateStart" required="true" min="<%= new Date().toISOString().split('T')[0] %>" onkeydown="return false" value="<%= internshipInfo.startDate%>"><br>
                        <label style="font-size: 50%;">End date: </label><input type="date" name="dateEnd" id="dateEnd" required="true" min="<%= minDate %>" onkeydown="return false" value="<%= internshipInfo.endDate%>"><br><br>
        
                        <label style="font-size: 50%;">Shift starting time: </label><input type="time" name="shiftStart" required="true" id="shiftStart" value="<%= internshipInfo.shiftStart %>"><br>
                        <label style="font-size: 50%;">Shift ending time: </label><input type="time" name="shiftEnd" required="true" id="shiftEnd" value="<%= internshipInfo.shiftEnd %>"><br>
        
                        <label class="checkboxContainer"><input type="checkbox" name="flexibleCheck" id="flexibleCheck" class="flexibleCheck"><span class="checkmark"></span>  Internship period details are negotiable</label>
                      </div>
                <%}%>

              <div style="display: flex; flex-direction: column; width: 100%" id="employerQuestionsHolder">
    
                <div class="internship-requirements">Employer questions</div>
                <% internshipInfo.screeningQuestions.forEach((question, index)=>{%>
                  <% if(index >= 1){%>
                    <div class="questionContainer">
                      <input
                      class="eg-proficient-in"
                      placeholder="e.g. What interests you about this role?"
                      type="text"
                      name="question"
                      style="margin-bottom: 5%;"
                      value="<%= question %>"
                      />
                      <button type="button" id="deleteButtonManual">
                        <img src="/images/internshipCreator/trashCan.svg">
                      </button>
                    </div>
                  <%} else{%>
                    <input
                    class="eg-proficient-in"
                    placeholder="e.g. What interests you about this role?"
                    type="text"
                    name="question"
                    style="margin-bottom: 5%;"
                    value="<%= question %>"
                  />
                  <%}%>
                <%})%>
              </div>
              <button type="button" onclick="addOneExtra(event)" id="employerQuestions" class="subtract-icon15" style="width: fit-content; height: fit-content; border: 0; background: none; cursor: pointer;">
                <img class="subtract-icon15" alt="" src='/images/internshipCreator/Subtract.svg' id='employerQuestions'/>
            </button>


              <div class="frame-wrapper14">
                <button class="rectangle-parent16" type="submit">
                  <div class="frame-child57"></div>
                  <div class="save">Save</div>
                </button>
              </div>
            </div>
          </div>
        </section>
      </main>
    </form>
    <script src = "/javascript/internshipCreator.js" type = "text/javascript"></script>
  </body>
</html>
