<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Your created internships:</h1>
        <% if(internshipDelete){%>
            <h2>Successfully deleted the internship opportunity!</h2>
        <%}%>

        <% if(internshipEdit){%>
            <h2>Successfully edited the internship opportunity!</h2>
        <%}%>


        <% if(foundInternships != undefined){%>
            <%foundInternships.forEach((internship)=>{%>
                <div style="background-color: rgb(151, 151, 224);">
                    <h2><%= internship.nameOfInternship %></h2>
                    <% if(internship.personWhoSignedUp === undefined){%>
                        <h3>Status: No signups</h3>
                    <%} else {%>
                        <h3>Status: Someone has signed up! Please check your email!</h3>
                    <%}%>

                    <h3><%= internship.internshipTypeForWorking%></h3>
                    <%internship.typeOfInternship.forEach((type)=>{%>
                        <p><%= type %></p>
                    <%})%>
                    
                    <% if(internship.personWhoSignedUp === undefined){%>
                        <a href = "/userpage/editInformation/editInfo?info=<%= internship._id%>">Edit information</a><br>
                        <a href="/userpage/editInformation/deleteInfo?info=<%= internship._id%>">Delete internship</a>
                    <%}%>
                </div><br><br>
            <%})%>
        <%} else {%>
            <h2>No internships found</h2>
            <a href="/userpage/createOpportunity" target="_self">Want to make your own internship?</a>
        <%}%>
    </body>
</html>