<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <title>User Details</title>

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/userdetails.css" />
    <link rel="stylesheet" href="/css/changeFields.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="/images/icons/icon.png">
  </head>
  <body>
    <form class="userprofile-firm" method="post" action="/userpage/userdetails" enctype="multipart/form-data">
      <section class="frame-parent20">
        <a href="/userpage" style="display: flex; align-self:flex-start">
            <img class="subtract-icon18" loading="lazy" alt="" src='/images/userdetails/backtobase.svg'/>
        </a>
        <div class="firm-label-wrapper">
          <div class="firm-label">

            <div class="firm-label-inner">
              <div class="frame-parent21">
                <label class="wrapper-subtract-wrapper" for="input-file" id="drop-area">
                  <input type="file" id="input-file" accept="image/png, image/jpeg" size="100000" name="profilePic" hidden>
                  <div class="wrapper-subtract2">
                    <img class="subtract-icon19" alt="" src="data:image/jpeg;base64, <%= image.toString('base64') %>" id="img-view"/>
                  </div>
                  <div class="wrapper-subtract1">
                        
                        <img class="subtract-icon17" loading="lazy" alt="" src='/images/userdetails/editIcon.svg'/>
                  </div>
                </label>
                <h1 class="firm-1"><%= firmName %></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent22">
          <div class="frame-wrapper15">
            <div class="frame-parent23">
              <% fields.forEach((field)=>{%>
                <button class="rectangle-parent18" type="button">
                    <div class="field-1"><%= field %></div>
                </button>
              <%})%>
              <!-- <button class="rectangle-parent18">
                <div class="field-1">Field 1</div>
              </button>
              <button class="rectangle-parent18">
                <div class="field-1">Field 1</div>
              </button>
              <button class="rectangle-parent18">
                <div class="field-1">Field 1</div>
              </button> -->
              <div class="union-frame">
                <button type="button" class="openFields" id="openFields">
                    <img
                    class="union-icon7"
                    loading="lazy"
                    alt=""
                    src="/images/userdetails/edit.svg"
                  />
                </button>
              </div>
            </div>
          </div>
          
          <div class="changeFields" id="changeFields">
            <div class="rectangle-parent20">
                <div class="frame-child63"></div>
                <div class="frame-child64"></div>
                <!-- <div class="frame-wrapper18">
                  <div class="rectangle-parent21">
                    <div class="frame-child65"></div>
                    <img
                      class="frame-child66"
                      loading="lazy"
                      alt=""
                      src="./public/group-9.svg"
                    />
          
                    <div class="search-bar">
                      <div class="search2">Search</div>
                    </div>
                  </div>
                </div> -->
                <section class="frame-parent25">
                  <div style="color: #0154b8;">Choose your interested fields:</div>
                  <div class="architecture-comp-parent">
                    <div class="frame-parent26">
                      <div class="rectangle-parent22">
                        <% const choosablefields = [
                            "Architecture",
                            "Art",
                            "Computer Science",
                            "Biology",
                            "Music",
                            "Finance",
                            "Software Engineering",
                            "Design",
                            "Hospitality",
                            "Medicine",
                            "Journalism",
                            "Electrical Engineering",
                            "Law",
                            "Film",
                            "Research",
                            "Hardware Engineering",
                            "Retail",
                            "Information Technology",
                            "Media",
                            "Construction",
                            "Cybersecurity",
                            "Counselling",
                            "Education",
                            "Consultation"
                        ]; %>
                        <% choosablefields.forEach((choosablefield)=>{%>
                            <% if(fields.includes(choosablefield)){%>
                                <button class="frame-child67 checked" onclick="toggleCheckbox(event)" name="<%= choosablefield%> checked" type="button" value="<%= choosablefield%>*"><%= choosablefield %></button>
                            <%} else {%>
                                <button class="frame-child67" onclick="toggleCheckbox(event)" name="<%= choosablefield%>" type="button"><%= choosablefield %></button>
                            <%}%>
                        <%})%>
                        <input type='hidden' value="<%= fields %>" name="checked" id="checkedContainer">
                      </div>
                      <button id="openFields" type="button" class="closeInterestedFields">Confirm</button>
                    </div>
                </section>
              </div>
          </div>
          <div class="frame-parent24">
            <div class="frame-wrapper17">
                <div class="email-parent">
                  <div class="email2">Firm name</div>
                  <input type="text" class="frame-child61" name="name" value="<%= firmName %>">
                </div>
            </div>
            <div class="frame-wrapper17">
              <div class="email-parent">
                <div class="email2">Email</div>
                <input type="email" class="frame-child61" name="email" value="<%= email %>">
              </div>
            </div>
            <!-- <div class="password-group">
              <div class="password2">
                <span class="password-txt">
                  <span>Password</span>
                  <span class="span"> </span>
                </span>
              </div>
              <div class="line-wrapper1">
                <input type="text" class="frame-child62">
              </div>
            </div> -->
          </div>
          <div class="edit-firm-description-wrapper">
            <div class="edit-firm-description">Edit firm description</div>
            <textarea class="userprofile-firm-item" name="about"><%= about %></textarea>
          </div>
        </div>
        <div class="userprofile-firm-inner">
            <button class="rectangle-parent17" style="background-color: white; border-color: blue;" type="submit">
              <div class="frame-child58"></div>
              <div class="log-out" style="color: blue;">Save details</div>
            </button>
        </div>
        <a class="userprofile-firm-inner" href="/users/logout">
            <button class="rectangle-parent17" style="border: 0;" type="button">
              <div class="frame-child58"></div>
              <div class="log-out">Log out</div>
            </button>
        </a>
      </section>
    </form>
    <script type="text/javascript" src="/javascript/userdetails.js"></script>
  </body>
</html>
